* {
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
.container {
    width: 1100px;
    margin: 0 auto;
}
.wrap {
    background-color: #EEEFF1;
    display: inline-block;
    align-items: center;
    width: 100%;
    padding-top: 79px;
    padding-bottom: 141px;
}
.catalog {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.1em;
    color: #34547A;
}
.sub-label {
    margin-right: 42px;
}
.label {
    margin-right: 0px;
}
.title-block {
    padding-bottom: 54px;
    padding-top: 160px;
}
.title {
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    color: #000000;
    padding-bottom: 45px;
}
.sub-title {
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    width: 540px;
}
.comment {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    background-color: #34547A;
    width: 225px;
    padding: 19px 41px 20px;
}
.about-blok {
    padding-top: 112px;
    padding-bottom: 89px;
}
.about {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    align-items: center;
    text-align: center;
    color: #000000;
    margin-bottom: 42px;
}
.sub-about {
    font-size: 16px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    color: #727272;
    width: 540px;
    margin-left: auto;
    margin-right: auto;
}
.cards {
    background-color: #34547A;
    padding: 100px 0px;
}
.card {
    display: inline-block;
    vertical-align: top;
}
.card-desc {
    display: inline-block;
    padding-left: 20px;
    padding-right: 45px;
}
.card-last  .card-desc{
    padding-right: 0px;
}
.card-title {
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;  
    align-items: center;
    color: #FFFFFF;
    margin-bottom: 7px;
}
.card-text {
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
}
.video-blok {
    background: #EEEFF1;
    padding-top: 100px;
    padding-bottom: 100px;
}
.description {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #000000;
    margin-bottom: 42px;
}
.sub-description {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    width: 540px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 46px;
}
.signature {
    background-color: #34547A;
    padding-top: 50px;
    padding-bottom: 50px;
}
.sub-signature {
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    align-items: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.year-signature {
    font-size: 13px;
    line-height: 15px;
    align-items: center;
    color: #FFFFFF;
}